.App {
  text-align: center;
}

/*For jsx files*/
caption {
  caption-side: top;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #4bcbeb;
  background-color: #4bcbeb;
}

.custom-navbar-light {
  background-color: #f3f3f3;
}
.custom-navbar-light .nav-link,
.custom-navbar-light .navbar-brand {
  color: #4bcbeb;
}

.custom-navbar-dark {
  background-color: #242424;
}
.custom-navbar-dark .nav-link,
.custom-navbar-dark .navbar-brand {
  color: #4bcbeb;
}

.dark-text {
  color: #4bcbeb;
}

.bg-custom {
  background-color: #4bcbeb;
}

.custom-btn,
.custom-btn:hover {
  background-color: #4bcbeb;
  color: #ffffff;
}

.modal-btn,
.modal-btn:hover {
  color: #4bcbeb;
  background-color: #ffffff;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #4bcbeb;
}

hr {
  border: none;
  height: 10px;
  /* Set the hr color */
  color: #4bcbeb; /* old IE */
  background-color: #00b7ff; /* Modern Browsers */
}

/* homepage */

.btn-homepage {
  color: #4bcbeb;
  border-radius: 2rem;
  border-width: 0.1rem;
  border-color: #4bcbeb;
  transition: 0.7s;
}
.btn-homepage:hover {
  color: #ffffff;
  background-color: #4bcbeb;
  border-radius: 2rem;
  border-width: 0.1rem;
  border-color: #4bcbeb;
  transition: 0.7s;
}

/* pagination nav */
.custom-link{
  background-color: #4bcbeb;
  transition: 0.7s;
}
.custom-link:hover{
  background-color: #4bcbeb;
  transition: 0.7s;
}
