.App {
  text-align: center;
  
}

/*For jsx files*/
caption {
  caption-side: top;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #00a2e2;
  background-color: #00a2e2;
}

.custom-navbar-light {
  background-color: #f3f3f3;
}
.custom-navbar-light .nav-link,
.custom-navbar-light .navbar-brand {
  color: #008ac0;
}

.custom-navbar-dark {
  background-color: #242424;
}
.custom-navbar-dark .nav-link,
.custom-navbar-dark .navbar-brand {
  color: #008ac0;
}

.dark-text {
  color: #008ac0;
}

.bg-custom {
  background-color: #008ac0;
}

.custom-btn,
.custom-btn:hover {
  background-color: #008ac0;
  color: #ffffff;
}

.modal-btn,
.modal-btn:hover {
  color: #008ac0;
  background-color: #ffffff;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #008ac0;
}

hr {
  border: none;
  height: 10px;
  /* Set the hr color */
  color: #008ac0; /* old IE */
  background-color: #00b7ff; /* Modern Browsers */
}

/* homepage */
.btn-homepage-light{
  color: #ffffff;
  
  border-radius: 2rem;
  border-width: 0.1rem;
  border-color: #ffffff;
}
.btn-homepage-light:hover{
  color: #00a2e2;
  background-color: #ffffff;
  border-radius: 2rem;
  border-width: 0.1rem;
}

.btn-homepage-dark{
  color: #000000;
  
  border-radius: 2rem;
  border-width: 0.1rem;
  border-color: #000000;
}
.btn-homepage-dark:hover{
  color: #00a2e2;
  background-color: #000000;
  border-radius: 2rem;
  border-width: 0.1rem;
}