.App {
  text-align: center;

}


/*For jsx files*/
caption {
  caption-side: top;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #00a2e2;
  background-color: #00a2e2;
}

.custom-navbar-light{
  background-color: #f3f3f3;
}
.custom-navbar-light .nav-link,
.custom-navbar-light .navbar-brand
{
  color: #008ac0;
}

.custom-navbar-dark{
  background-color: #242424; 
}
.custom-navbar-dark .nav-link,
.custom-navbar-dark .navbar-brand
{
  color: #008ac0;
}



.dark-text{
  color: #008ac0;

}

.bg-custom{
  background-color: #008ac0;
}

.custom-btn,.custom-btn:hover{
  background-color: #008ac0;
  color:#ffffff;
}

.modal-btn,
.modal-btn:hover{
  color: #008ac0;
  background-color:#ffffff;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #008ac0;
}

hr {
  border: none;
  height: 10px;
  /* Set the hr color */
  color: #008ac0; /* old IE */
  background-color: #00b7ff; /* Modern Browsers */
}


/* background effect */

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #008ac0 20%, #2e2e46 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.9;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.9;
}
.bgBottom {
  z-index: 5;
  opacity: 0.9;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
 
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 20s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 20s linear infinite;
}